<li>
<h2>#{{@rfc.number}} {{@rfc.title}} <span class="stage {{@rfc.currentStage}}">{{@rfc.currentStage}}</span></h2>
<p>{{this.timeOpen}}</p>
<ul>
{{#each @rfc.connected as |connected|}}
<li>{{connected.number}} - {{connected.title}}</li>
{{/each}}
</ul>
{{!-- <ul>
 {{#each @rfc.timelineItems.nodes as |node|}}
  <li>{{node.label.name}}</li>
  {{/each}}
</ul> --}}
<ul>
 {{#each-in @rfc.stages as |stage days|}}
  <li>{{stage}}: {{days}}</li>
  {{/each-in}}
</ul>
</li>