<div class="topbar">
<label><Input @type="checkbox" @checked={{this.afterStagesRFC}} {{on "click" this.toggleAfterStages}} />RFCs after release of Stages RFC</label>
<label><Input @type="checkbox" @checked={{this.onlyOpen}} {{on "click" this.toggleOpen}}/>Only Open RFCs</label>
<label><Input @type="checkbox" @checked={{this.proposed}} {{on "click" this.toggleProposed}}/>Proposed</label>
<label><Input @type="checkbox" @checked={{this.accepted}} {{on "click" this.toggleAccepted}}/>Accepted</label>
<label><Input @type="checkbox" @checked={{this.ready}} {{on "click" this.toggleReady}}/>Ready for Release</label>
<label><Input @type="checkbox" @checked={{this.released}} {{on "click" this.toggleReleased}}/>Released</label>
<label><Input @type="checkbox" @checked={{this.recommended}} {{on "click" this.toggleRecommended}}/>Recommended</label>
<button type="button" {{on 'click' this.scrollTop}}>Scroll Top</button>
<h1>{{this.rfcs.length}}</h1>
</div>
<ul>
  <li>Days in proposed: {{this.propossalAverage}}</li>
  <li>Days in exploring: {{this.exploringAverage}}</li>
  <li>Days in accepted: {{this.acceptedAverage}}</li>
  <li>Days in Ready for Release: {{this.readyAverage}}</li>
  <li>Days in Released: {{this.releasedAverage}}</li>
</ul>

<div class="kanban">
  <div class="kanban-row">
    <h2>Proposed</h2>
    {{#each this.proposedRFCs as |rfc|}}
        <Rfc @rfc={{rfc}} />
    {{/each}}
  </div>
  <div class="kanban-row">
    <h2>Exploring</h2>
    {{#each this.exploringRFCs as |rfc|}}
        <Rfc @rfc={{rfc}} />
    {{/each}}
  </div>
  <div class="kanban-row">
    <h2>Accepted</h2>
    {{#each this.acceptedRFCs as |rfc|}}
        <Rfc @rfc={{rfc}} />
    {{/each}}
  </div>
  <div class="kanban-row">
    <h2>Ready for Release</h2>
    {{#each this.readyRFCs as |rfc|}}
        <Rfc @rfc={{rfc}} />
    {{/each}}
  </div>
  <div class="kanban-row">
    <h2>Released</h2>
    {{#each this.releasedRFCs as |rfc|}}
        <Rfc @rfc={{rfc}} />
    {{/each}}
  </div>
  <div class="kanban-row">
    <h2>Recommended</h2>
    {{#each this.recommendedRFCs as |rfc|}}
        <Rfc @rfc={{rfc}} />
    {{/each}}
  </div>
</div>
<h1>--------</h1>
<ul id="rfclist">
  {{#each this.rfcs as | rfc|}}
    <Rfc @rfc={{rfc}} />
  {{/each}}
</ul>
